backups/wf003-antes-cred-fix-20260610-222056.json
{"updatedAt":"2026-06-10T21:49:18.075Z","createdAt":"2025-05-30T17:46:40.083Z","id":"2RolRcmgDU3155pG","name":"EvolutionAPI-v2.2.1-DifyAgent-Audio-ElevenLabs-StopChat-003 FIXING","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"set","key":"={{ $('SetFieldsBasic').item.json.evolution_chatID }}","value":"={{ $json.conversationID }}"},"id":"cabf007a-5fdd-4fd6-afc7-dff48f3d6e67","name":"GravaConversationID","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-900,-380],"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"ConversationID","key":"={{ $json.body.data.key.remoteJid || \"\" }}","options":{}},"id":"41ab1310-7457-4a78-a172-f523a4b3de0a","name":"BuscaConversationID","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2640,-1980],"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.evolutiom_api_url }}/chat/getBase64FromMediaMessage/{{ $('SetFieldsBasic').item.json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').item.json.evolution_api_key }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $('SetFieldsBasic').item.json.MessageID }}"},{"name":"convertToMp4","value":"true"}]},"options":{}},"id":"d3b7adcf-3c4d-41fb-89a8-89b8064952f8","name":"GetAudio-HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1960,-1940],"alwaysOutputData":true},{"parameters":{"content":"IDENTIFICADO MENSAGENS REPETIDAS, AGRUPANDO MENSAGENS","height":809,"width":1722},"id":"0e0ee99d-5ec0-4758-b8d0-faebe377e5b9","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3240,-200]},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"audio","mimeType":"={{ $json.mimetype }}"}},"id":"22320b50-9e97-493a-bd70-d06e6cc21802","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1680,-1940],"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"d2fce443-aed1-46fe-b0ba-fca2170c6493","name":"text","value":"={{ $json.messages.join(' ') }}","type":"string"}]},"options":{}},"id":"512e77db-937a-4655-b840-05118058cc73","name":"AgruparMSGs","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1940,160]},{"parameters":{"amount":6},"id":"a1198a25-4526-4697-806b-104b49ec5ad4","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2880,160],"webhookId":"ad2dd337-8946-454c-9f1e-9b13db29525a"},{"parameters":{"operation":"push","list":"=msgs-{{ $('SetFieldsBasic').item.json.phone }}","messageData":"={{ $json.text }}"},"id":"e711f7da-4563-4248-9977-2cad61adc8a5","name":"RedisPushMsgs","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3140,160],"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"msgs-558688580503"},"id":"d01848a0-0a66-4605-8f45-0a789f2b6fbb","name":"RedisClearMSGs1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2640,340],"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"parameters":{"operation":"push","list":"msgs-558688580503","messageData":"teste 003"},"id":"e16bfc31-47e1-4578-84e6-f33ee0ee9c68","name":"GravaConversationID1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2880,340],"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"msgs-558688580503","key":"msgs-558681612061","options":{}},"id":"22361881-8eba-493f-8760-6e2f25d50339","name":"BuscaConversationID1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2400,340],"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"=msgs-{{ $('SetFieldsBasic').item.json.phone }}"},"id":"b6c6ddc1-83e3-4803-9353-b7243d15f72f","name":"RedisClearMSGs","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1700,160],"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"=messages","key":"=msgs-{{ $('SetFieldsBasic').item.json.phone }}","options":{}},"id":"95c29350-eb81-4235-bd5e-c25e255d2d28","name":"ListaMsg-Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2640,160],"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6ace55bc-45c2-4cfe-b8a7-64a409c44b47","leftValue":"={{ $json.body.event }}","rightValue":"messages.upsert","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"7f04c4fc-663d-45a9-b484-94519427514b","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2920,-1980]},{"parameters":{"operation":"delete","key":"558688580503@s.whatsapp.net"},"id":"6ea315c9-aa20-4b74-8931-99e52299058e","name":"ApagarConversationID","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3140,340],"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.dify_url }}/chat-messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('SetFieldsBasic').item.json.dify_key }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"={{ {} }}"},{"name":"query","value":"=# Telefone do cliente : \n{{ $('SetFieldsBasic').item.json.phone }}\n\n## Informações importantes\nAno atual : {{ $today.format('yyyy') }}\nData de hoje : {{ $today.format('yyyy-MM-dd') }} - {{ $today.setLocale('pt-BR').weekdayLong }}\n\nData de amanhã : \n{{ $today.plus(1,'day').format('yyyy-MM-dd') }} - {{ $today.plus(1,'day').setLocale('pt-BR').weekdayLong }}\n\nData de depois de amanhã : \n{{ $today.plus(2,'day').format('yyyy-MM-dd') }} - {{ $today.plus(2,'day').setLocale('pt-BR').weekdayLong }}\n\n# Nome do cliente (escrito no whatsapp)\n{{$('SetFieldsBasic').item.json?.user_from }}\n\n### Conversas anteriores (cliente/Atendente Virtual)\n{{ $('get_chat_history').item.json.response }}\n\n## Fim das conversas ##\n\n# Mensagem do cliente:\n{{ $('RedisClearMSGs').item.json.text }}"},{"name":"response_mode","value":"streaming"},{"name":"conversation_id","value":"={{ $('SetFieldsBasic').item.json.ConversationID }}"},{"name":"user","value":"={{ $('SetFieldsBasic').item.json.user_from }}"}]},"options":{}},"id":"c09e64df-3da4-4e3f-9e1f-67f8c6b3afdf","name":"Dify / Agente","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-900,-1820],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{},"id":"816bdf7a-43e9-42a6-bc2f-aefe7e8b2907","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-900,-1460]},{"parameters":{"assignments":{"assignments":[{"id":"f6cb6722-aacd-48de-b93a-8e3726bbabe5","name":"text","value":"={{ $('Webhook').item.json.body.data.message.conversation || \" \" }}","type":"string"},{"id":"2199088e-08dc-4bef-9dd1-a739574fe2a6","name":"type","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"616e1a4d-f22f-4125-90d8-8c7b761013f1","name":"phone_number","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"53a69954-72c9-4bb9-8f1a-2bf7f26d70d4","name":"ConversationID","value":"={{ $json.ConversationID }}","type":"string"},{"id":"d166c041-21d9-4d99-90ed-25fcc0206e05","name":"dify_key","value":"app-sdrtdiAPeA8qGZHYVNzuUuNZ","type":"string"},{"id":"95c6983c-247e-421e-9922-4ece1e0c0e05","name":"dify_url","value":"https://dify2.clinprime.shop/v1","type":"string"},{"id":"c726f6bf-f026-4615-9a3d-840c537df07e","name":"user_from","value":"={{ $('Webhook').item.json.body.data.pushName }}","type":"string"},{"id":"6645fa38-1d52-4d65-ab2b-004c337b0776","name":"evolution_instance","value":"={{ $('Webhook').item.json.body.instance }}","type":"string"},{"id":"15da7191-efbe-427b-b376-bd7a06997b10","name":"remoteJid","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"b94afc26-ac84-474a-b12e-af59a9104c69","name":"evolutiom_api_url","value":"={{ $('If').item.json.body.server_url }}","type":"string"},{"id":"27a5a32b-b8d7-4b08-8e41-385eed83fe62","name":"evolution_api_key","value":"={{ $('Webhook').item.json.body.apikey }}","type":"string"},{"id":"77d7d584-332b-44ea-96be-e941762f90b4","name":"evolution_chatID","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"4e12e180-8336-4cce-80f4-b542ef4f6631","name":"url_audio_evolution_api","value":"={{ $('Webhook').item.json.body.data?.message.audioMessage?.url || \" \"}}","type":"string"},{"id":"5cc25668-f3e6-45b9-ac44-39659298ecab","name":"MessageID","value":"={{ $('Webhook').item.json.body.data.key.id }}","type":"string"},{"id":"7fbaa3a2-19fc-42b4-ba8f-f21ce01e0a18","name":"EvolutionApi_URL","value":"={{ $('Webhook').item.json.body.server_url }}","type":"string"},{"id":"823b135b-e45f-437c-8531-b4221d15b4a5","name":"phone","value":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace(\"@s.whatsapp.net\",\"\") }}","type":"string"},{"id":"bea94f83-af9e-425a-8856-f01cb395d51f","name":"extendedTextMessage","value":"={{ $('Webhook').item.json.body.data?.message?.extendedTextMessage?.text || \"\" }}","type":"string"},{"id":"9b931868-30af-4d71-8599-4ee6fbb4a2f3","name":"ephemeralMessage","value":"={{ $('Webhook').item.json.body.data?.message?.ephemeralMessage?.message?.extendedTextMessage?.text || \"\" }}","type":"string"},{"id":"01e88d67-32f1-4454-a504-82541164443c","name":"ElevenLabsAPI-KEY","value":"sk_30bf39ef17bfcb5f7c5276f2d7db098a35df521dcaab7efe","type":"string"},{"id":"f5e4b7b9-eb6a-4e0b-801b-b419da2eae36","name":"EnableElevenLabsAPI","value":"true","type":"string"},{"id":"94eafafb-bd2d-4e04-a969-0e3b2576e90f","name":"ElevenLabsVozID","value":"hFttg8L9lRhYwXrYFhke","type":"string"},{"id":"6daec98f-ee7c-4a0e-b2f2-c90ee15e427d","name":"fromMe","value":"={{ $('Webhook').item.json.body.data.key.fromMe }}","type":"string"},{"id":"8bd27b49-f7f7-49cb-93e2-eef90add8eff","name":"app_name","value":"agendamento","type":"string"}]},"options":{}},"id":"abf9a7c4-9b71-4b4b-af31-aa7558a0398d","name":"SetFieldsBasic","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3180,-1680]},{"parameters":{"jsCode":"const data = $input.all() ?? [];\nconst data_string = JSON.stringify(data);\nconst data_json = JSON.parse(data_string) ?? [];\n\n// Check for Dify errors first\nconst errorMsg = data_json[0]?.json?.error?.message ?? '';\nif (errorMsg && (errorMsg.includes('404') || errorMsg.includes('not_found') || errorMsg.includes('Not Exists'))) {\n  // Conversation expired — return empty to clear Redis ID on next GravaConversationID\n  return { response: '', conversationID: '', out: [], error: 'conversation_expired' };\n}\n\nconst data_json_text = data_json[0]?.json?.data ?? '';\nconst data_array = data_json_text ? data_json_text.split('\\n') : [];\n\nconst out = [];\nconst msgParts = [];\nlet conversationID = \"\";\n\nif (Array.isArray(data_array) && data_array.length > 0) {\n  for (const item of data_array) {\n    const t = item.replace('data:', '').trim();\n    if (!t) continue;\n    try {\n      const t_json = JSON.parse(t);\n      if (t_json.event === 'agent_thought') {\n        if (t_json.thought) out.push(t_json);\n        conversationID = t_json?.conversation_id ?? conversationID;\n      } else if (t_json.event === 'agent_message' && t_json.answer) {\n        msgParts.push(t_json.answer);\n        conversationID = t_json?.conversation_id ?? conversationID;\n      } else if (t_json.event === 'message' && t_json.answer) {\n        msgParts.push(t_json.answer);\n        conversationID = t_json?.conversation_id ?? conversationID;\n      }\n    } catch (error) {}\n  }\n}\n\nconst msg = msgParts.length > 0\n  ? msgParts.join('')\n  : out.map(item => item.thought ?? '').join(' ');\n\nreturn { response: msg, conversationID, out };\n"},"id":"5431233e-902e-4948-85cd-ba72f2c879cd","name":"AjustaRetorno","type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,-720]},{"parameters":{"assignments":{"assignments":[{"id":"df119838-c757-4618-a3c8-2e1aede4115b","name":"text","value":"={{ $('SetFieldsBasic').item.json.extendedTextMessage }}","type":"string"}]},"options":{}},"id":"7b1d1946-ce57-4402-9914-bb78f88e5c83","name":"SetTextExtendedTextMessage","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1880,-1360]},{"parameters":{"assignments":{"assignments":[{"id":"df119838-c757-4618-a3c8-2e1aede4115b","name":"text","value":"={{ $('SetFieldsBasic').item.json.ephemeralMessage }}","type":"string"}]},"options":{}},"id":"8f8ebf72-0cd9-44c0-8640-2e9c4b22771e","name":"SetEphemeralMessage","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1880,-1700]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ec39573f-f92a-4fe4-a832-0a137de8e7d0","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.messages?.last() }}","rightValue":"={{  $('RedisPushMsgs').item.json.text }}"}],"combinator":"and"},"options":{}},"id":"c4f362c5-0d3f-4393-bc8a-42e32fe11c72","name":"Should Continue?","type":"n8n-nodes-base.if","position":[-2380,160],"typeVersion":2},{"parameters":{},"id":"3847fd29-f85c-48b5-97ea-4d2b49dd2522","name":"FimFluxo","type":"n8n-nodes-base.noOp","position":[-2080,340],"typeVersion":1},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"995f4fb9-8400-4015-b7c0-32ef338fa0f5","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[-1480,-1940],"credentials":{"openAiApi":{"id":"rgi7eG3M7LIpI78J","name":"OpenAi account"}}},{"parameters":{"operation":"set","key":"=traplist-{{$('Webhook').item.json.body.data.key.remoteJid }}","value":"true","keyType":"automatic","expire":true,"ttl":86400},"id":"c0a3b108-5265-48a4-9004-5ed48cc09453","name":"AddTrapList","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2800,-700],"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.evolutiom_api_url }}/message/sendText/{{ $('SetFieldsBasic').item.json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').item.json.evolution_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{$('SetFieldsBasic').item.json.phone}}"},{"name":"text","value":"=Chatbot parado para o número : {{$('RemoveCliente').item.json.phone }}"},{"name":"key,fromMe","value":"false"}]},"options":{}},"id":"84c656b4-a846-4ce1-b473-ffeaa32860d0","name":"Evolution API - HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1900,-680]},{"parameters":{"operation":"delete","key":"=traplist-{{ $json.remoteJid }}"},"id":"80fc56f9-a022-49c4-9a86-a3d96d0ccf0d","name":"RemoveFromTrapList","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2800,-460],"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.evolutiom_api_url }}/message/sendText/{{ $('SetFieldsBasic').item.json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').item.json.evolution_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{$('SetFieldsBasic').item.json.phone}}"},{"name":"text","value":"=Chatbot inciado para o número : {{$('RemoveCliente').item.json.phone }}"},{"name":"key,fromMe","value":"false"}]},"options":{}},"id":"479fea97-1c0d-4950-98cd-8d2dce877ec8","name":"Evolution API - HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1900,-460]},{"parameters":{"operation":"get","propertyName":"trap-list","key":"=traplist-{{$('SetFieldsBasic').item.json.remoteJid }}","options":{}},"id":"9c561413-0297-4a4f-9c01-2f8a41014d86","name":"BuscaTrapList1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2740,-1680],"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"1cebe163-b56d-4bb2-ba87-c716fee0d32f","leftValue":"={{ $json['trap-list'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"7750f494-b840-411b-8b93-0ce5d3d3fce9","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2520,-1680]},{"parameters":{"numberInputs":5},"id":"3cffc663-cb99-47d6-aa90-e24ed34d75f0","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1480,-1220]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('SetFieldsBasic').item.json.type }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ad5e3e1-4996-444b-ae49-e3cc69b41cff","leftValue":"={{ $('SetFieldsBasic').item.json.type }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"82ed6c89-f8f0-42dc-af37-3a9ba88be43f","leftValue":"={{ $('SetFieldsBasic').item.json.type }}","rightValue":"ephemeralMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b1379ec-28c5-4fbf-9e64-774c6ca4c551","leftValue":"={{ $('SetFieldsBasic').item.json.type }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"id":"cf205ed2-ae83-4261-9625-623b0420c665","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2140,-1700],"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"df119838-c757-4618-a3c8-2e1aede4115b","name":"text","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"id":"70df9773-a473-4626-8716-c2675cfd354d","name":"SetConversation","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1880,-1520]},{"parameters":{"httpMethod":"POST","path":"clinprime-sofia/messages-upsert","options":{}},"id":"8a1a50bf-f36d-49c7-bb55-ff843bae94d2","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3200,-1980],"webhookId":"13bca36b-3431-48b1-8aa2-e940744aeffa"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.fromMe }}","rightValue":"false","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"216b830c-ed10-4839-b6f0-29589acea816","leftValue":"={{ $json.fromMe }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"id":"70bbf0e7-5416-43b4-83d3-a65c2a58a322","name":"FromMe-Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2940,-1680]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"stop-cond","leftValue":"={{ $('Webhook').item.json.body.data.message.conversation }}","rightValue":"@stop","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"start-cond","leftValue":"={{ $('Webhook').item.json.body.data.message.conversation }}","rightValue":"@start","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"reset-cond","leftValue":"={{ $('Webhook').item.json.body.data.message.conversation }}","rightValue":"#reset","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"id":"c1a8e26a-58cf-460d-b2b6-c5edcd287e35","name":"RemoveCliente","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3120,-600]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"41f30b49-36aa-4b6e-9050-853854ed7e94","leftValue":"={{ $('FromMe-Switch').item.json.ConversationID }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1380,420],"id":"7592b93c-b0fa-4dc4-8da5-401c4e02e4e2","name":"If2"},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.dify_url }}/chat-messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('SetFieldsBasic').item.json.dify_key }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"={{ {} }}"},{"name":"query","value":"=# Telefone do cliente : \n{{ $('SetFieldsBasic').item.json.phone }}\n\n## Informações importantes\nAno atual : {{ $today.format('yyyy') }}\nData de hoje : {{ $today.format('yyyy-MM-dd') }} - {{ $today.setLocale('pt-BR').weekdayLong }}\n\n# Nome do cliente (escrito no whatsapp)\n{{$('SetFieldsBasic').item.json?.user_from }}\n\n### Conversas anteriores (cliente/Atendente Virtual)\n{{ $('get_chat_history').item.json.response }}\n\n## Fim das conversas ##\n\n# Mensagem do cliente:\n{{ $('RedisClearMSGs').item.json.text }}"},{"name":"response_mode","value":"streaming"},{"name":"conversation_id","value":"="},{"name":"user","value":"={{ $('SetFieldsBasic').item.json.user_from }}"}]},"options":{}},"id":"b70e56d6-cf34-4741-b8e1-fec219086757","name":"Dify / Agente2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-880,-1160],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"get","tableId":"chats","filters":{"conditions":[{"keyName":"phone","keyValue":"={{ $('SetFieldsBasic').item.json.phone }}"},{"keyName":"app","keyValue":"={{ $('SetFieldsBasic').item.json.app_name }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-840,240],"id":"9a9c4fa6-de8a-4a64-b202-3ca0cba2b048","name":"FindPhone","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"2ACMe3jl4v9vrvGa","name":"Supabase account"}},"onError":"continueRegularOutput","continueOnFail":true},{"parameters":{"tableId":"chats","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('SetFieldsBasic').item.json.phone }}"},{"fieldId":"updated_at","fieldValue":"={{$now.setLocale('pt-BR')}}"},{"fieldId":"conversation_id","fieldValue":"={{ $('FromMe-Switch').item.json.ConversationID }}"},{"fieldId":"app","fieldValue":"={{ $('SetFieldsBasic').item.json.app_name }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[180,60],"id":"ecf08d50-099e-4477-bd5a-f699fe3a96dd","name":"AddChat-Supabase","credentials":{"supabaseApi":{"id":"2ACMe3jl4v9vrvGa","name":"Supabase account"}},"continueOnFail":true},{"parameters":{"operation":"update","tableId":"chats","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('SetFieldsBasic').item.json.phone }}"},{"keyName":"app","condition":"eq","keyValue":"={{ $('SetFieldsBasic').item.json.app_name }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"updated_at","fieldValue":"={{$now.setLocale('pt-BR')}}"},{"fieldId":"conversation_id","fieldValue":"={{ $('FromMe-Switch').item.json.ConversationID }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[180,360],"id":"4f9e0290-5b1f-4fc8-9e0a-522e88b58c2b","name":"UpdateChat-Supabase","credentials":{"supabaseApi":{"id":"2ACMe3jl4v9vrvGa","name":"Supabase account"}},"continueOnFail":true},{"parameters":{"tableId":"chat_messages","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('FindPhone').item.json.phone }}"},{"fieldId":"conversation_id","fieldValue":"={{ $('FindPhone').item.json.phone }}"},{"fieldId":"bot_message","fieldValue":"={{ $('AjustaRetorno').item.json.response }}"},{"fieldId":"user_message","fieldValue":"={{ $('AgruparMSGs').item.json.text }}"},{"fieldId":"message_type","fieldValue":"={{ $('SetFieldsBasic').item.json.type }}"},{"fieldId":"active","fieldValue":"true"},{"fieldId":"app","fieldValue":"={{ $('SetFieldsBasic').item.json.app_name }}"},{"fieldId":"user_name","fieldValue":"={{ $('SetFieldsBasic').item.json.user_from }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1920,220],"id":"6e6fb37a-3ad9-42db-837e-15e5f52040c2","name":"CreateMessage-Supabase","executeOnce":true,"credentials":{"supabaseApi":{"id":"2ACMe3jl4v9vrvGa","name":"Supabase account"}},"onError":"continueRegularOutput","continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"defac08a-6745-422b-bb05-90da9f47d91b","leftValue":"={{ $('FindPhone').last().json.values() }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-340,220],"id":"3b811fb8-057d-4ab4-8dbc-adc1cf438b9c","name":"If3"},{"parameters":{"content":"# Grava Histórico SupaBase","height":600,"width":3320,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1080,-20],"id":"9d6918be-02d5-469d-85e7-b4f44eb6c344","name":"Sticky Note3"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1100,220],"id":"a5edb492-6cd2-4a51-af47-62cb21948ed0","name":"Merge4"},{"parameters":{"content":"CHAT_HISTORY","height":809,"width":262,"color":6},"id":"b3a9d6e3-55c8-4829-abcc-e42a7135f6f9","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1480,-200]},{"parameters":{"workflowId":{"__rl":true,"value":"lxW1Xc1rpWznFOl6","mode":"list","cachedResultName":"ChatHistory"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phone":"={{ $('SetFieldsBasic').item.json.phone }}"},"matchingColumns":["phone"],"schema":[{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1400,-40],"id":"30736324-70b8-4e4a-b332-5070633f980f","name":"get_chat_history","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"content":"START = STOP","height":489,"width":1742,"color":3},"id":"8c10ff26-8d81-4fa4-b6aa-b740ca7da20b","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3240,-760]},{"parameters":{"assignments":{"assignments":[{"id":"df119838-c757-4618-a3c8-2e1aede4115b","name":"text","value":"=oi","type":"string"}]},"options":{}},"id":"996a8aa9-8c49-40ca-82c0-373512dfb5c9","name":"SetTextExtendedTextMessage1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1880,-1200]},{"parameters":{"content":"# DIFY","height":1929,"width":382,"color":4},"id":"48e1d73d-6fb5-4a32-9c43-ff99fda4ab31","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1060,-2000]},{"parameters":{"jsCode":"// Obtenha o texto da entrada\nconst inputText = $input.first().json.response || \"\";\n\n// Separa em blocos por PARÁGRAFO (linha dupla), não por cada \\n\n// Isso mantém listas de bullets em uma única mensagem\nconst textBlocks = inputText\n  .split(/\\n\\n+/)\n  .map(block => block.trim())\n  .filter(block => block !== \"\");\n\n// Se ainda assim tiver muita coisa, agrupa em no máximo 3 mensagens\nconst MAX_MSGS = 3;\nlet groupedBlocks = textBlocks;\nif (textBlocks.length > MAX_MSGS) {\n  const chunkSize = Math.ceil(textBlocks.length / MAX_MSGS);\n  groupedBlocks = [];\n  for (let i = 0; i < textBlocks.length; i += chunkSize) {\n    groupedBlocks.push(textBlocks.slice(i, i + chunkSize).join('\\n'));\n  }\n}\n\n// Obtenha o tipo da mensagem do nó 'SetFieldsBasic'\nconst type_msg = $('SetFieldsBasic').first().json.type;\n\n// Função para identificar o tipo de mídia com base no link ou no argumento 'tipo'\nconst determineMediaType = (url) => {\n  const tipoMatch = url.match(/[?&]tipo=([^&]+)/);\n  if (tipoMatch) return tipoMatch[1].replace(')','').replace('(','');\n  const pdfRegex = /\\.pdf$/i;\n  const docRegex = /\\.(doc|docx)$/i;\n  const imageRegex = /\\.(jpg|jpeg|png|gif|bmp|svg|webp)$/i;\n  const videoRegex = /\\.(mp4|mov|avi|wmv|mkv|flv|webm)$/i;\n  const audioRegex = /\\.(mp3|wav|ogg|m4a)$/i;\n  if (pdfRegex.test(url)) return 'pdf';\n  if (docRegex.test(url)) return 'doc';\n  if (imageRegex.test(url)) return 'image';\n  if (videoRegex.test(url)) return 'video';\n  if (audioRegex.test(url)) return 'audioMessage';\n  return null;\n};\n\nconst extractUrl = (text) => {\n  const urlRegex = /(https?:\\/\\/[^\\s]+)/g;\n  const match = text.match(urlRegex);\n  return match ? match[0] : null;\n};\n\nlet outputArray = [];\n\ngroupedBlocks.forEach((block, index) => {\n  const url = extractUrl(block);\n  const mediaType = url ? determineMediaType(url) : null;\n\n  if (index === 0) {\n    outputArray.push({\n      type: mediaType && mediaType !== 'audioMessage' ? mediaType : 'conversation',\n      text: block,\n      url: url,\n      mediaType: mediaType\n    });\n  } else {\n    outputArray.push({\n      type: mediaType && mediaType !== 'audioMessage' ? mediaType : 'conversation',\n      text: block,\n      url: url,\n      mediaType: mediaType\n    });\n  }\n});\n\nif (outputArray.length === 0) return [];\nreturn outputArray.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,-1040],"id":"cd5b998c-6ab4-4eb0-9480-a02d10190c2e","name":"Code"},{"parameters":{"content":"# Separa textos / links\n","height":1940,"width":360,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-620,-2020],"id":"b919a545-e4bd-4abb-800b-52b417fb6474","name":"Sticky Note12"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,-1860],"id":"6ec0bd1a-9834-49a7-9650-53a1d41bbd12","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6e4e3a62-667a-4c4c-8da4-e90a15d78c07","leftValue":"={{ $json.text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1700,-1840],"id":"50e1867f-1055-4dd7-acc2-a97aadea3990","name":"If5"},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.evolutiom_api_url }}/message/sendMedia/{{ $('SetFieldsBasic').item.json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').item.json.evolution_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"number\":\"{{ $('SetFieldsBasic').item.json.phone }}\",\n\"options\":{\"delay\":123,\"presence\":\"composing\"},\n \"mediatype\":\"document\",\n \"mimetype\":\"application/pdf\",\n \"media\":\"{{ $json.block }}\",\n\"fileName\":\"{{ $json.text }}\"\n}","options":{}},"id":"7fca7c31-6b4a-4e72-828b-0885961e7a9d","name":"(media)Evolution API - HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1960,-900],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.evolutiom_api_url }}/message/sendMedia/{{ $('SetFieldsBasic').item.json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').item.json.evolution_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"number\":\"{{ $('SetFieldsBasic').item.json.phone }}\",\n\"options\":{\"delay\":123,\"presence\":\"composing\"},\n \"mediatype\":\"video\",\n \"mimetype\":\"video/mp4\",\n \"media\":\"{{ $json.block }}\",\n\"fileName\":\"{{ $json.text }}\"\n}","options":{}},"id":"707c326d-3039-4aec-be10-5a1955b749a4","name":"(media)Evolution API - HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1960,-660],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.evolutiom_api_url }}/message/sendMedia/{{ $('SetFieldsBasic').item.json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').item.json.evolution_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"number\":\"{{ $('SetFieldsBasic').item.json.phone }}\",\n\"options\":{\"delay\":123,\"presence\":\"composing\"},\n \"mediatype\":\"image\",\n \"mimetype\":\"image/png\",\n \"media\":\"{{ $json.block }}\",\n\"fileName\":\"{{ $json.text }}\"\n}","options":{}},"id":"4c18ef92-07cf-49a7-b57b-24afbb3a219f","name":"(media)Evolution API - HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1960,-420],"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"0a50fc6e-4c02-434e-b364-618bedf5ac59","name":"text","value":"={{ $json.block }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,-1780],"id":"ea61c5a0-b8af-4fd2-b396-bcc04ad2addf","name":"SetText"},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"b12406a9-2b0d-4ce4-a966-2d3f3db470a9","name":"Audio-Base64-Extract from File1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1660,-1300]},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.evolutiom_api_url }}/message/sendWhatsAppAudio/{{ $('SetFieldsBasic').item.json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').item.json.evolution_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('SetFieldsBasic').item.json.remoteJid }}"},{"name":"audio","value":"={{ $json.data }}"},{"name":"key.fromMe","value":"false"},{"name":"options.encoding","value":"true"}]},"options":{}},"id":"cbf5021e-f4c9-4a5d-ae7e-4ec5d9e4dae0","name":"(audio)Evolution API - HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1960,-1140]},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.evolutiom_api_url }}/message/sendText/{{ $('SetFieldsBasic').item.json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').item.json.evolution_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{$('SetFieldsBasic').item.json.phone}}"},{"name":"text","value":"={{ $json.text }}"}]},"options":{}},"id":"91cece95-4cf3-4acc-a8d3-09ca9df63652","name":"Evolution API - HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,-1680]},{"parameters":{},"id":"632bc3bd-473d-4f8d-b82d-f5883ef4eda4","name":"Merge5","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1440,-1300]},{"parameters":{"method":"POST","url":"=https://api.elevenlabs.io/v1/text-to-speech/{{ $('SetFieldsBasic').item.json.ElevenLabsVozID }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"xi-api-key","value":"={{ $('SetFieldsBasic').item.json['ElevenLabsAPI-KEY'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"text\":\"'{{$('IF-ElevenLabs1').item.json.text?.replaceAll('\"',\"\").replaceAll('\\n','').replaceAll('*','').replaceAll('-','').replaceAll(':00',' horas ') }}'\",\n   \"model_id\":\"eleven_multilingual_v2\",\n   \"voice_settings\":{\n      \"stability\":0.5,\n      \"similarity_boost\":0.8,\n      \"style\":0.0,\n      \"use_speaker_boost\":true\n   }\n} ","options":{}},"id":"088a0469-5bae-4252-bde0-24589a759163","name":"ElevenLabsGenerateVoice1","type":"n8n-nodes-base.httpRequest","position":[1060,-1040],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"906ff569-de44-4bd7-bb17-5691a0dab3e1","leftValue":"={{ $('SetFieldsBasic').item.json.EnableElevenLabsAPI }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"538c2fc1-69f6-428a-a556-f0d1761de836","name":"IF-ElevenLabs1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[820,-1120]},{"parameters":{"resource":"audio","input":"={{ $json.text.replaceAll('\\n','').replaceAll('-','') }}","options":{"response_format":"mp3"}},"id":"039c0bef-3d50-4965-8703-e434eace3af9","name":"OpenAI2","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[1040,-1320],"credentials":{"openAiApi":{"id":"rgi7eG3M7LIpI78J","name":"OpenAi account"}}},{"parameters":{"numberInputs":4},"id":"5fecbbff-35ad-48e6-9043-1cd471bc58b8","name":"Merge6","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1500,-1860]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"4dfe8b37-6e0e-4c64-84cd-8b2db244b457","leftValue":"={{ $json.type }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c42b80d7-89c4-4aa0-9e6c-f4f8804e9e81","leftValue":"={{ $json.type }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"31f34613-d85a-4468-83ae-5b6ee8c90eb3","leftValue":"={{ $json.type }}","rightValue":"pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d720ae89-30e4-46d2-992f-3e229d425c6b","leftValue":"={{ $json.type }}","rightValue":"video","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"29976cd9-a9f2-43c7-a188-558900b9c0f8","leftValue":"={{ $json.type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"id":"0ca6c482-755f-49d2-b55a-db4d51f17501","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3,"position":[500,-1920]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6949633a-3ba1-41e6-9213-4c81ed55431c","leftValue":"={{ $('SetFieldsBasic').item.json.AllWaysReplyText }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"34b0dd7a-9b17-4bd7-a726-5c9c4b9ce7c9","name":"If4","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[800,-1360]},{"parameters":{"content":"# Evolution API\n","height":1980,"width":2440,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-200,-2040],"id":"f4711c4c-a5b7-4bc8-b4b7-40899f7ecf5b","name":"Sticky Note6"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[540,-1180],"id":"077aeb0d-c176-4320-98a7-5762f12d4590","name":"Wait1","webhookId":"f766021a-6b35-464b-b89d-ea62f29a7203"},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[320,-1320],"id":"153411ac-427d-4473-a93c-99b6fb42c35e","name":"Merge7"},{"id":"leticia-filter-0081b56c","name":"FiltroLeticiaTest","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3060,-1680],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-0081b56c","leftValue":"={{ $('SetFieldsBasic').item.json.phone }}","rightValue":"558299800467","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}}},{"id":"reset-apaga-conversa-0001","name":"Reset-ApagaConversa","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2800,-220],"parameters":{"operation":"delete","key":"={{ $('SetFieldsBasic').item.json.evolution_chatID }}"},"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"id":"reset-limpa-traplist-0002","name":"Reset-LimpaTrapList","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2560,-220],"parameters":{"operation":"delete","key":"=traplist-{{ $('Webhook').item.json.body.data.key.remoteJid }}"},"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"id":"reset-confirma-0003","name":"Reset-Confirma","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2320,-220],"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.evolutiom_api_url }}/message/sendText/{{ $('SetFieldsBasic').item.json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').item.json.evolution_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{$('SetFieldsBasic').item.json.phone}}"},{"name":"text","value":"=🔄 Pronto! Conversa zerada. Pode começar como novo paciente."},{"name":"key,fromMe","value":"false"}]},"options":{}}}],"connections":{"GravaConversationID":{"main":[[{"node":"Code","type":"main","index":0},{"node":"FindPhone","type":"main","index":0}]]},"BuscaConversationID":{"main":[[{"node":"SetFieldsBasic","type":"main","index":0}]]},"GetAudio-HTTP Request":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"AgruparMSGs":{"main":[[{"node":"RedisClearMSGs","type":"main","index":0}]]},"Wait":{"main":[[{"node":"ListaMsg-Redis","type":"main","index":0}]]},"RedisPushMsgs":{"main":[[{"node":"Wait","type":"main","index":0}]]},"RedisClearMSGs":{"main":[[{"node":"get_chat_history","type":"main","index":0}]]},"ListaMsg-Redis":{"main":[[{"node":"Should Continue?","type":"main","index":0}]]},"If":{"main":[[{"node":"BuscaConversationID","type":"main","index":0}]]},"Dify / Agente":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"AjustaRetorno","type":"main","index":0}]]},"SetFieldsBasic":{"main":[[{"node":"FiltroLeticiaTest","type":"main","index":0}]]},"AjustaRetorno":{"main":[[{"node":"GravaConversationID","type":"main","index":0}]]},"SetTextExtendedTextMessage":{"main":[[{"node":"Merge","type":"main","index":3}]]},"SetEphemeralMessage":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Should Continue?":{"main":[[{"node":"AgruparMSGs","type":"main","index":0}],[{"node":"FimFluxo","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Merge","type":"main","index":0}]]},"AddTrapList":{"main":[[]]},"RemoveFromTrapList":{"main":[[{"node":"Evolution API - HTTP Request2","type":"main","index":0}]]},"BuscaTrapList1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Merge":{"main":[[{"node":"RedisPushMsgs","type":"main","index":0}]]},"Switch":{"main":[[{"node":"GetAudio-HTTP Request","type":"main","index":0}],[{"node":"SetConversation","type":"main","index":0}],[{"node":"SetEphemeralMessage","type":"main","index":0}],[{"node":"SetTextExtendedTextMessage","type":"main","index":0}],[{"node":"SetTextExtendedTextMessage1","type":"main","index":0}]]},"SetConversation":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"FromMe-Switch":{"main":[[{"node":"BuscaTrapList1","type":"main","index":0}],[{"node":"RemoveCliente","type":"main","index":0}]]},"RemoveCliente":{"main":[[{"node":"AddTrapList","type":"main","index":0}],[{"node":"RemoveFromTrapList","type":"main","index":0}],[{"node":"Reset-ApagaConversa","type":"main","index":0}]]},"If2":{"main":[[{"node":"Dify / Agente","type":"main","index":0}],[{"node":"Dify / Agente2","type":"main","index":0}]]},"Dify / Agente2":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"FindPhone":{"main":[[{"node":"If3","type":"main","index":0}]]},"AddChat-Supabase":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"UpdateChat-Supabase":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"If3":{"main":[[{"node":"AddChat-Supabase","type":"main","index":0}],[{"node":"UpdateChat-Supabase","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"CreateMessage-Supabase","type":"main","index":0}]]},"get_chat_history":{"main":[[{"node":"If2","type":"main","index":0}]]},"SetTextExtendedTextMessage1":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Loop Over Items":{"main":[[],[{"node":"Switch2","type":"main","index":0}]]},"If5":{"main":[[{"node":"Evolution API - HTTP Request3","type":"main","index":0}],[{"node":"Merge7","type":"main","index":1}]]},"(media)Evolution API - HTTP Request":{"main":[[{"node":"Merge7","type":"main","index":3}]]},"(media)Evolution API - HTTP Request1":{"main":[[{"node":"Merge7","type":"main","index":2}]]},"(media)Evolution API - HTTP Request2":{"main":[[{"node":"Merge7","type":"main","index":4}]]},"SetText":{"main":[[{"node":"Merge6","type":"main","index":3}]]},"Audio-Base64-Extract from File1":{"main":[[{"node":"(audio)Evolution API - HTTP Request","type":"main","index":0}]]},"(audio)Evolution API - HTTP Request":{"main":[[{"node":"Merge7","type":"main","index":2}]]},"Evolution API - HTTP Request3":{"main":[[{"node":"Merge7","type":"main","index":0}]]},"Merge5":{"main":[[{"node":"Audio-Base64-Extract from File1","type":"main","index":0}]]},"ElevenLabsGenerateVoice1":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"IF-ElevenLabs1":{"main":[[{"node":"ElevenLabsGenerateVoice1","type":"main","index":0}],[{"node":"OpenAI2","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"If5","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Merge6","type":"main","index":0}],[{"node":"Merge6","type":"main","index":1}],[{"node":"If4","type":"main","index":0}],[{"node":"(media)Evolution API - HTTP Request","type":"main","index":0}],[{"node":"(media)Evolution API - HTTP Request1","type":"main","index":0}],[{"node":"(media)Evolution API - HTTP Request2","type":"main","index":0}],[{"node":"SetText","type":"main","index":0}]]},"If4":{"main":[[{"node":"Merge6","type":"main","index":2}],[{"node":"IF-ElevenLabs1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Merge7":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"FiltroLeticiaTest":{"main":[[{"node":"FromMe-Switch","type":"main","index":0}],[{"node":"FimFluxo","type":"main","index":0}]]},"Reset-ApagaConversa":{"main":[[{"node":"Reset-LimpaTrapList","type":"main","index":0}]]},"Reset-LimpaTrapList":{"main":[[{"node":"Reset-Confirma","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"d4b9b0c1-731e-4d3e-bfa4-45c273d144af","activeVersionId":"d4b9b0c1-731e-4d3e-bfa4-45c273d144af","versionCounter":17,"triggerCount":1,"shared":[{"updatedAt":"2025-05-30T17:46:40.083Z","createdAt":"2025-05-30T17:46:40.083Z","role":"workflow:owner","workflowId":"2RolRcmgDU3155pG","projectId":"pZGYuM11KvYlLdOH","project":{"updatedAt":"2024-09-27T21:43:04.820Z","createdAt":"2024-09-27T21:39:42.899Z","id":"pZGYuM11KvYlLdOH","name":"Thiago Araujo <thiagoaraujos.augusto@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"b170e41d-fd68-4750-b40d-0c600ec50d3d"}}],"tags":[{"updatedAt":"2025-05-30T17:46:38.596Z","createdAt":"2025-05-30T17:46:38.596Z","id":"3tq03FGxnw4LIgrM","name":"NOT MAIN"}],"activeVersion":{"updatedAt":"2026-06-10T21:49:18.083Z","createdAt":"2026-06-10T21:49:18.083Z","versionId":"d4b9b0c1-731e-4d3e-bfa4-45c273d144af","workflowId":"2RolRcmgDU3155pG","nodes":[{"parameters":{"operation":"set","key":"={{ $('SetFieldsBasic').item.json.evolution_chatID }}","value":"={{ $json.conversationID }}"},"id":"cabf007a-5fdd-4fd6-afc7-dff48f3d6e67","name":"GravaConversationID","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-900,-380],"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"ConversationID","key":"={{ $json.body.data.key.remoteJid || \"\" }}","options":{}},"id":"41ab1310-7457-4a78-a172-f523a4b3de0a","name":"BuscaConversationID","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2640,-1980],"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.evolutiom_api_url }}/chat/getBase64FromMediaMessage/{{ $('SetFieldsBasic').item.json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').item.json.evolution_api_key }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $('SetFieldsBasic').item.json.MessageID }}"},{"name":"convertToMp4","value":"true"}]},"options":{}},"id":"d3b7adcf-3c4d-41fb-89a8-89b8064952f8","name":"GetAudio-HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1960,-1940],"alwaysOutputData":true},{"parameters":{"content":"IDENTIFICADO MENSAGENS REPETIDAS, AGRUPANDO MENSAGENS","height":809,"width":1722},"id":"0e0ee99d-5ec0-4758-b8d0-faebe377e5b9","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3240,-200]},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"audio","mimeType":"={{ $json.mimetype }}"}},"id":"22320b50-9e97-493a-bd70-d06e6cc21802","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1680,-1940],"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"d2fce443-aed1-46fe-b0ba-fca2170c6493","name":"text","value":"={{ $json.messages.join(' ') }}","type":"string"}]},"options":{}},"id":"512e77db-937a-4655-b840-05118058cc73","name":"AgruparMSGs","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1940,160]},{"parameters":{"amount":6},"id":"a1198a25-4526-4697-806b-104b49ec5ad4","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2880,160],"webhookId":"ad2dd337-8946-454c-9f1e-9b13db29525a"},{"parameters":{"operation":"push","list":"=msgs-{{ $('SetFieldsBasic').item.json.phone }}","messageData":"={{ $json.text }}"},"id":"e711f7da-4563-4248-9977-2cad61adc8a5","name":"RedisPushMsgs","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3140,160],"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"msgs-558688580503"},"id":"d01848a0-0a66-4605-8f45-0a789f2b6fbb","name":"RedisClearMSGs1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2640,340],"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"parameters":{"operation":"push","list":"msgs-558688580503","messageData":"teste 003"},"id":"e16bfc31-47e1-4578-84e6-f33ee0ee9c68","name":"GravaConversationID1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2880,340],"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"msgs-558688580503","key":"msgs-558681612061","options":{}},"id":"22361881-8eba-493f-8760-6e2f25d50339","name":"BuscaConversationID1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2400,340],"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"=msgs-{{ $('SetFieldsBasic').item.json.phone }}"},"id":"b6c6ddc1-83e3-4803-9353-b7243d15f72f","name":"RedisClearMSGs","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1700,160],"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"=messages","key":"=msgs-{{ $('SetFieldsBasic').item.json.phone }}","options":{}},"id":"95c29350-eb81-4235-bd5e-c25e255d2d28","name":"ListaMsg-Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2640,160],"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6ace55bc-45c2-4cfe-b8a7-64a409c44b47","leftValue":"={{ $json.body.event }}","rightValue":"messages.upsert","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"7f04c4fc-663d-45a9-b484-94519427514b","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2920,-1980]},{"parameters":{"operation":"delete","key":"558688580503@s.whatsapp.net"},"id":"6ea315c9-aa20-4b74-8931-99e52299058e","name":"ApagarConversationID","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3140,340],"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.dify_url }}/chat-messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('SetFieldsBasic').item.json.dify_key }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"={{ {} }}"},{"name":"query","value":"=# Telefone do cliente : \n{{ $('SetFieldsBasic').item.json.phone }}\n\n## Informações importantes\nAno atual : {{ $today.format('yyyy') }}\nData de hoje : {{ $today.format('yyyy-MM-dd') }} - {{ $today.setLocale('pt-BR').weekdayLong }}\n\nData de amanhã : \n{{ $today.plus(1,'day').format('yyyy-MM-dd') }} - {{ $today.plus(1,'day').setLocale('pt-BR').weekdayLong }}\n\nData de depois de amanhã : \n{{ $today.plus(2,'day').format('yyyy-MM-dd') }} - {{ $today.plus(2,'day').setLocale('pt-BR').weekdayLong }}\n\n# Nome do cliente (escrito no whatsapp)\n{{$('SetFieldsBasic').item.json?.user_from }}\n\n### Conversas anteriores (cliente/Atendente Virtual)\n{{ $('get_chat_history').item.json.response }}\n\n## Fim das conversas ##\n\n# Mensagem do cliente:\n{{ $('RedisClearMSGs').item.json.text }}"},{"name":"response_mode","value":"streaming"},{"name":"conversation_id","value":"={{ $('SetFieldsBasic').item.json.ConversationID }}"},{"name":"user","value":"={{ $('SetFieldsBasic').item.json.user_from }}"}]},"options":{}},"id":"c09e64df-3da4-4e3f-9e1f-67f8c6b3afdf","name":"Dify / Agente","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-900,-1820],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{},"id":"816bdf7a-43e9-42a6-bc2f-aefe7e8b2907","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-900,-1460]},{"parameters":{"assignments":{"assignments":[{"id":"f6cb6722-aacd-48de-b93a-8e3726bbabe5","name":"text","value":"={{ $('Webhook').item.json.body.data.message.conversation || \" \" }}","type":"string"},{"id":"2199088e-08dc-4bef-9dd1-a739574fe2a6","name":"type","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"616e1a4d-f22f-4125-90d8-8c7b761013f1","name":"phone_number","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"53a69954-72c9-4bb9-8f1a-2bf7f26d70d4","name":"ConversationID","value":"={{ $json.ConversationID }}","type":"string"},{"id":"d166c041-21d9-4d99-90ed-25fcc0206e05","name":"dify_key","value":"app-sdrtdiAPeA8qGZHYVNzuUuNZ","type":"string"},{"id":"95c6983c-247e-421e-9922-4ece1e0c0e05","name":"dify_url","value":"https://dify2.clinprime.shop/v1","type":"string"},{"id":"c726f6bf-f026-4615-9a3d-840c537df07e","name":"user_from","value":"={{ $('Webhook').item.json.body.data.pushName }}","type":"string"},{"id":"6645fa38-1d52-4d65-ab2b-004c337b0776","name":"evolution_instance","value":"={{ $('Webhook').item.json.body.instance }}","type":"string"},{"id":"15da7191-efbe-427b-b376-bd7a06997b10","name":"remoteJid","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"b94afc26-ac84-474a-b12e-af59a9104c69","name":"evolutiom_api_url","value":"={{ $('If').item.json.body.server_url }}","type":"string"},{"id":"27a5a32b-b8d7-4b08-8e41-385eed83fe62","name":"evolution_api_key","value":"={{ $('Webhook').item.json.body.apikey }}","type":"string"},{"id":"77d7d584-332b-44ea-96be-e941762f90b4","name":"evolution_chatID","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"4e12e180-8336-4cce-80f4-b542ef4f6631","name":"url_audio_evolution_api","value":"={{ $('Webhook').item.json.body.data?.message.audioMessage?.url || \" \"}}","type":"string"},{"id":"5cc25668-f3e6-45b9-ac44-39659298ecab","name":"MessageID","value":"={{ $('Webhook').item.json.body.data.key.id }}","type":"string"},{"id":"7fbaa3a2-19fc-42b4-ba8f-f21ce01e0a18","name":"EvolutionApi_URL","value":"={{ $('Webhook').item.json.body.server_url }}","type":"string"},{"id":"823b135b-e45f-437c-8531-b4221d15b4a5","name":"phone","value":"={{ $('Webhook').item.json.body.data.key.remoteJid.replace(\"@s.whatsapp.net\",\"\") }}","type":"string"},{"id":"bea94f83-af9e-425a-8856-f01cb395d51f","name":"extendedTextMessage","value":"={{ $('Webhook').item.json.body.data?.message?.extendedTextMessage?.text || \"\" }}","type":"string"},{"id":"9b931868-30af-4d71-8599-4ee6fbb4a2f3","name":"ephemeralMessage","value":"={{ $('Webhook').item.json.body.data?.message?.ephemeralMessage?.message?.extendedTextMessage?.text || \"\" }}","type":"string"},{"id":"01e88d67-32f1-4454-a504-82541164443c","name":"ElevenLabsAPI-KEY","value":"sk_30bf39ef17bfcb5f7c5276f2d7db098a35df521dcaab7efe","type":"string"},{"id":"f5e4b7b9-eb6a-4e0b-801b-b419da2eae36","name":"EnableElevenLabsAPI","value":"true","type":"string"},{"id":"94eafafb-bd2d-4e04-a969-0e3b2576e90f","name":"ElevenLabsVozID","value":"hFttg8L9lRhYwXrYFhke","type":"string"},{"id":"6daec98f-ee7c-4a0e-b2f2-c90ee15e427d","name":"fromMe","value":"={{ $('Webhook').item.json.body.data.key.fromMe }}","type":"string"},{"id":"8bd27b49-f7f7-49cb-93e2-eef90add8eff","name":"app_name","value":"agendamento","type":"string"}]},"options":{}},"id":"abf9a7c4-9b71-4b4b-af31-aa7558a0398d","name":"SetFieldsBasic","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3180,-1680]},{"parameters":{"jsCode":"const data = $input.all() ?? [];\nconst data_string = JSON.stringify(data);\nconst data_json = JSON.parse(data_string) ?? [];\n\n// Check for Dify errors first\nconst errorMsg = data_json[0]?.json?.error?.message ?? '';\nif (errorMsg && (errorMsg.includes('404') || errorMsg.includes('not_found') || errorMsg.includes('Not Exists'))) {\n  // Conversation expired — return empty to clear Redis ID on next GravaConversationID\n  return { response: '', conversationID: '', out: [], error: 'conversation_expired' };\n}\n\nconst data_json_text = data_json[0]?.json?.data ?? '';\nconst data_array = data_json_text ? data_json_text.split('\\n') : [];\n\nconst out = [];\nconst msgParts = [];\nlet conversationID = \"\";\n\nif (Array.isArray(data_array) && data_array.length > 0) {\n  for (const item of data_array) {\n    const t = item.replace('data:', '').trim();\n    if (!t) continue;\n    try {\n      const t_json = JSON.parse(t);\n      if (t_json.event === 'agent_thought') {\n        if (t_json.thought) out.push(t_json);\n        conversationID = t_json?.conversation_id ?? conversationID;\n      } else if (t_json.event === 'agent_message' && t_json.answer) {\n        msgParts.push(t_json.answer);\n        conversationID = t_json?.conversation_id ?? conversationID;\n      } else if (t_json.event === 'message' && t_json.answer) {\n        msgParts.push(t_json.answer);\n        conversationID = t_json?.conversation_id ?? conversationID;\n      }\n    } catch (error) {}\n  }\n}\n\nconst msg = msgParts.length > 0\n  ? msgParts.join('')\n  : out.map(item => item.thought ?? '').join(' ');\n\nreturn { response: msg, conversationID, out };\n"},"id":"5431233e-902e-4948-85cd-ba72f2c879cd","name":"AjustaRetorno","type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,-720]},{"parameters":{"assignments":{"assignments":[{"id":"df119838-c757-4618-a3c8-2e1aede4115b","name":"text","value":"={{ $('SetFieldsBasic').item.json.extendedTextMessage }}","type":"string"}]},"options":{}},"id":"7b1d1946-ce57-4402-9914-bb78f88e5c83","name":"SetTextExtendedTextMessage","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1880,-1360]},{"parameters":{"assignments":{"assignments":[{"id":"df119838-c757-4618-a3c8-2e1aede4115b","name":"text","value":"={{ $('SetFieldsBasic').item.json.ephemeralMessage }}","type":"string"}]},"options":{}},"id":"8f8ebf72-0cd9-44c0-8640-2e9c4b22771e","name":"SetEphemeralMessage","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1880,-1700]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ec39573f-f92a-4fe4-a832-0a137de8e7d0","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.messages?.last() }}","rightValue":"={{  $('RedisPushMsgs').item.json.text }}"}],"combinator":"and"},"options":{}},"id":"c4f362c5-0d3f-4393-bc8a-42e32fe11c72","name":"Should Continue?","type":"n8n-nodes-base.if","position":[-2380,160],"typeVersion":2},{"parameters":{},"id":"3847fd29-f85c-48b5-97ea-4d2b49dd2522","name":"FimFluxo","type":"n8n-nodes-base.noOp","position":[-2080,340],"typeVersion":1},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"995f4fb9-8400-4015-b7c0-32ef338fa0f5","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[-1480,-1940],"credentials":{"openAiApi":{"id":"rgi7eG3M7LIpI78J","name":"OpenAi account"}}},{"parameters":{"operation":"set","key":"=traplist-{{$('Webhook').item.json.body.data.key.remoteJid }}","value":"true","keyType":"automatic","expire":true,"ttl":86400},"id":"c0a3b108-5265-48a4-9004-5ed48cc09453","name":"AddTrapList","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2800,-700],"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.evolutiom_api_url }}/message/sendText/{{ $('SetFieldsBasic').item.json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').item.json.evolution_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{$('SetFieldsBasic').item.json.phone}}"},{"name":"text","value":"=Chatbot parado para o número : {{$('RemoveCliente').item.json.phone }}"},{"name":"key,fromMe","value":"false"}]},"options":{}},"id":"84c656b4-a846-4ce1-b473-ffeaa32860d0","name":"Evolution API - HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1900,-680]},{"parameters":{"operation":"delete","key":"=traplist-{{ $json.remoteJid }}"},"id":"80fc56f9-a022-49c4-9a86-a3d96d0ccf0d","name":"RemoveFromTrapList","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2800,-460],"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.evolutiom_api_url }}/message/sendText/{{ $('SetFieldsBasic').item.json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').item.json.evolution_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{$('SetFieldsBasic').item.json.phone}}"},{"name":"text","value":"=Chatbot inciado para o número : {{$('RemoveCliente').item.json.phone }}"},{"name":"key,fromMe","value":"false"}]},"options":{}},"id":"479fea97-1c0d-4950-98cd-8d2dce877ec8","name":"Evolution API - HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1900,-460]},{"parameters":{"operation":"get","propertyName":"trap-list","key":"=traplist-{{$('SetFieldsBasic').item.json.remoteJid }}","options":{}},"id":"9c561413-0297-4a4f-9c01-2f8a41014d86","name":"BuscaTrapList1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2740,-1680],"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"1cebe163-b56d-4bb2-ba87-c716fee0d32f","leftValue":"={{ $json['trap-list'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"7750f494-b840-411b-8b93-0ce5d3d3fce9","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2520,-1680]},{"parameters":{"numberInputs":5},"id":"3cffc663-cb99-47d6-aa90-e24ed34d75f0","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1480,-1220]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('SetFieldsBasic').item.json.type }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ad5e3e1-4996-444b-ae49-e3cc69b41cff","leftValue":"={{ $('SetFieldsBasic').item.json.type }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"82ed6c89-f8f0-42dc-af37-3a9ba88be43f","leftValue":"={{ $('SetFieldsBasic').item.json.type }}","rightValue":"ephemeralMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b1379ec-28c5-4fbf-9e64-774c6ca4c551","leftValue":"={{ $('SetFieldsBasic').item.json.type }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"id":"cf205ed2-ae83-4261-9625-623b0420c665","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2140,-1700],"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"df119838-c757-4618-a3c8-2e1aede4115b","name":"text","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"id":"70df9773-a473-4626-8716-c2675cfd354d","name":"SetConversation","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1880,-1520]},{"parameters":{"httpMethod":"POST","path":"clinprime-sofia/messages-upsert","options":{}},"id":"8a1a50bf-f36d-49c7-bb55-ff843bae94d2","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3200,-1980],"webhookId":"13bca36b-3431-48b1-8aa2-e940744aeffa"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.fromMe }}","rightValue":"false","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"216b830c-ed10-4839-b6f0-29589acea816","leftValue":"={{ $json.fromMe }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"id":"70bbf0e7-5416-43b4-83d3-a65c2a58a322","name":"FromMe-Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2940,-1680]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"stop-cond","leftValue":"={{ $('Webhook').item.json.body.data.message.conversation }}","rightValue":"@stop","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"start-cond","leftValue":"={{ $('Webhook').item.json.body.data.message.conversation }}","rightValue":"@start","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"reset-cond","leftValue":"={{ $('Webhook').item.json.body.data.message.conversation }}","rightValue":"#reset","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"id":"c1a8e26a-58cf-460d-b2b6-c5edcd287e35","name":"RemoveCliente","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3120,-600]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"41f30b49-36aa-4b6e-9050-853854ed7e94","leftValue":"={{ $('FromMe-Switch').item.json.ConversationID }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1380,420],"id":"7592b93c-b0fa-4dc4-8da5-401c4e02e4e2","name":"If2"},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.dify_url }}/chat-messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('SetFieldsBasic').item.json.dify_key }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"={{ {} }}"},{"name":"query","value":"=# Telefone do cliente : \n{{ $('SetFieldsBasic').item.json.phone }}\n\n## Informações importantes\nAno atual : {{ $today.format('yyyy') }}\nData de hoje : {{ $today.format('yyyy-MM-dd') }} - {{ $today.setLocale('pt-BR').weekdayLong }}\n\n# Nome do cliente (escrito no whatsapp)\n{{$('SetFieldsBasic').item.json?.user_from }}\n\n### Conversas anteriores (cliente/Atendente Virtual)\n{{ $('get_chat_history').item.json.response }}\n\n## Fim das conversas ##\n\n# Mensagem do cliente:\n{{ $('RedisClearMSGs').item.json.text }}"},{"name":"response_mode","value":"streaming"},{"name":"conversation_id","value":"="},{"name":"user","value":"={{ $('SetFieldsBasic').item.json.user_from }}"}]},"options":{}},"id":"b70e56d6-cf34-4741-b8e1-fec219086757","name":"Dify / Agente2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-880,-1160],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"get","tableId":"chats","filters":{"conditions":[{"keyName":"phone","keyValue":"={{ $('SetFieldsBasic').item.json.phone }}"},{"keyName":"app","keyValue":"={{ $('SetFieldsBasic').item.json.app_name }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-840,240],"id":"9a9c4fa6-de8a-4a64-b202-3ca0cba2b048","name":"FindPhone","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"2ACMe3jl4v9vrvGa","name":"Supabase account"}},"onError":"continueRegularOutput","continueOnFail":true},{"parameters":{"tableId":"chats","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('SetFieldsBasic').item.json.phone }}"},{"fieldId":"updated_at","fieldValue":"={{$now.setLocale('pt-BR')}}"},{"fieldId":"conversation_id","fieldValue":"={{ $('FromMe-Switch').item.json.ConversationID }}"},{"fieldId":"app","fieldValue":"={{ $('SetFieldsBasic').item.json.app_name }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[180,60],"id":"ecf08d50-099e-4477-bd5a-f699fe3a96dd","name":"AddChat-Supabase","credentials":{"supabaseApi":{"id":"2ACMe3jl4v9vrvGa","name":"Supabase account"}},"continueOnFail":true},{"parameters":{"operation":"update","tableId":"chats","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('SetFieldsBasic').item.json.phone }}"},{"keyName":"app","condition":"eq","keyValue":"={{ $('SetFieldsBasic').item.json.app_name }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"updated_at","fieldValue":"={{$now.setLocale('pt-BR')}}"},{"fieldId":"conversation_id","fieldValue":"={{ $('FromMe-Switch').item.json.ConversationID }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[180,360],"id":"4f9e0290-5b1f-4fc8-9e0a-522e88b58c2b","name":"UpdateChat-Supabase","credentials":{"supabaseApi":{"id":"2ACMe3jl4v9vrvGa","name":"Supabase account"}},"continueOnFail":true},{"parameters":{"tableId":"chat_messages","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('FindPhone').item.json.phone }}"},{"fieldId":"conversation_id","fieldValue":"={{ $('FindPhone').item.json.phone }}"},{"fieldId":"bot_message","fieldValue":"={{ $('AjustaRetorno').item.json.response }}"},{"fieldId":"user_message","fieldValue":"={{ $('AgruparMSGs').item.json.text }}"},{"fieldId":"message_type","fieldValue":"={{ $('SetFieldsBasic').item.json.type }}"},{"fieldId":"active","fieldValue":"true"},{"fieldId":"app","fieldValue":"={{ $('SetFieldsBasic').item.json.app_name }}"},{"fieldId":"user_name","fieldValue":"={{ $('SetFieldsBasic').item.json.user_from }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1920,220],"id":"6e6fb37a-3ad9-42db-837e-15e5f52040c2","name":"CreateMessage-Supabase","executeOnce":true,"credentials":{"supabaseApi":{"id":"2ACMe3jl4v9vrvGa","name":"Supabase account"}},"onError":"continueRegularOutput","continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"defac08a-6745-422b-bb05-90da9f47d91b","leftValue":"={{ $('FindPhone').last().json.values() }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-340,220],"id":"3b811fb8-057d-4ab4-8dbc-adc1cf438b9c","name":"If3"},{"parameters":{"content":"# Grava Histórico SupaBase","height":600,"width":3320,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1080,-20],"id":"9d6918be-02d5-469d-85e7-b4f44eb6c344","name":"Sticky Note3"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1100,220],"id":"a5edb492-6cd2-4a51-af47-62cb21948ed0","name":"Merge4"},{"parameters":{"content":"CHAT_HISTORY","height":809,"width":262,"color":6},"id":"b3a9d6e3-55c8-4829-abcc-e42a7135f6f9","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1480,-200]},{"parameters":{"workflowId":{"__rl":true,"value":"lxW1Xc1rpWznFOl6","mode":"list","cachedResultName":"ChatHistory"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phone":"={{ $('SetFieldsBasic').item.json.phone }}"},"matchingColumns":["phone"],"schema":[{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1400,-40],"id":"30736324-70b8-4e4a-b332-5070633f980f","name":"get_chat_history","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"content":"START = STOP","height":489,"width":1742,"color":3},"id":"8c10ff26-8d81-4fa4-b6aa-b740ca7da20b","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3240,-760]},{"parameters":{"assignments":{"assignments":[{"id":"df119838-c757-4618-a3c8-2e1aede4115b","name":"text","value":"=oi","type":"string"}]},"options":{}},"id":"996a8aa9-8c49-40ca-82c0-373512dfb5c9","name":"SetTextExtendedTextMessage1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1880,-1200]},{"parameters":{"content":"# DIFY","height":1929,"width":382,"color":4},"id":"48e1d73d-6fb5-4a32-9c43-ff99fda4ab31","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1060,-2000]},{"parameters":{"jsCode":"// Obtenha o texto da entrada\nconst inputText = $input.first().json.response || \"\";\n\n// Separa em blocos por PARÁGRAFO (linha dupla), não por cada \\n\n// Isso mantém listas de bullets em uma única mensagem\nconst textBlocks = inputText\n  .split(/\\n\\n+/)\n  .map(block => block.trim())\n  .filter(block => block !== \"\");\n\n// Se ainda assim tiver muita coisa, agrupa em no máximo 3 mensagens\nconst MAX_MSGS = 3;\nlet groupedBlocks = textBlocks;\nif (textBlocks.length > MAX_MSGS) {\n  const chunkSize = Math.ceil(textBlocks.length / MAX_MSGS);\n  groupedBlocks = [];\n  for (let i = 0; i < textBlocks.length; i += chunkSize) {\n    groupedBlocks.push(textBlocks.slice(i, i + chunkSize).join('\\n'));\n  }\n}\n\n// Obtenha o tipo da mensagem do nó 'SetFieldsBasic'\nconst type_msg = $('SetFieldsBasic').first().json.type;\n\n// Função para identificar o tipo de mídia com base no link ou no argumento 'tipo'\nconst determineMediaType = (url) => {\n  const tipoMatch = url.match(/[?&]tipo=([^&]+)/);\n  if (tipoMatch) return tipoMatch[1].replace(')','').replace('(','');\n  const pdfRegex = /\\.pdf$/i;\n  const docRegex = /\\.(doc|docx)$/i;\n  const imageRegex = /\\.(jpg|jpeg|png|gif|bmp|svg|webp)$/i;\n  const videoRegex = /\\.(mp4|mov|avi|wmv|mkv|flv|webm)$/i;\n  const audioRegex = /\\.(mp3|wav|ogg|m4a)$/i;\n  if (pdfRegex.test(url)) return 'pdf';\n  if (docRegex.test(url)) return 'doc';\n  if (imageRegex.test(url)) return 'image';\n  if (videoRegex.test(url)) return 'video';\n  if (audioRegex.test(url)) return 'audioMessage';\n  return null;\n};\n\nconst extractUrl = (text) => {\n  const urlRegex = /(https?:\\/\\/[^\\s]+)/g;\n  const match = text.match(urlRegex);\n  return match ? match[0] : null;\n};\n\nlet outputArray = [];\n\ngroupedBlocks.forEach((block, index) => {\n  const url = extractUrl(block);\n  const mediaType = url ? determineMediaType(url) : null;\n\n  if (index === 0) {\n    outputArray.push({\n      type: mediaType && mediaType !== 'audioMessage' ? mediaType : 'conversation',\n      text: block,\n      url: url,\n      mediaType: mediaType\n    });\n  } else {\n    outputArray.push({\n      type: mediaType && mediaType !== 'audioMessage' ? mediaType : 'conversation',\n      text: block,\n      url: url,\n      mediaType: mediaType\n    });\n  }\n});\n\nif (outputArray.length === 0) return [];\nreturn outputArray.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,-1040],"id":"cd5b998c-6ab4-4eb0-9480-a02d10190c2e","name":"Code"},{"parameters":{"content":"# Separa textos / links\n","height":1940,"width":360,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-620,-2020],"id":"b919a545-e4bd-4abb-800b-52b417fb6474","name":"Sticky Note12"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,-1860],"id":"6ec0bd1a-9834-49a7-9650-53a1d41bbd12","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6e4e3a62-667a-4c4c-8da4-e90a15d78c07","leftValue":"={{ $json.text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1700,-1840],"id":"50e1867f-1055-4dd7-acc2-a97aadea3990","name":"If5"},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.evolutiom_api_url }}/message/sendMedia/{{ $('SetFieldsBasic').item.json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').item.json.evolution_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"number\":\"{{ $('SetFieldsBasic').item.json.phone }}\",\n\"options\":{\"delay\":123,\"presence\":\"composing\"},\n \"mediatype\":\"document\",\n \"mimetype\":\"application/pdf\",\n \"media\":\"{{ $json.block }}\",\n\"fileName\":\"{{ $json.text }}\"\n}","options":{}},"id":"7fca7c31-6b4a-4e72-828b-0885961e7a9d","name":"(media)Evolution API - HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1960,-900],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.evolutiom_api_url }}/message/sendMedia/{{ $('SetFieldsBasic').item.json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').item.json.evolution_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"number\":\"{{ $('SetFieldsBasic').item.json.phone }}\",\n\"options\":{\"delay\":123,\"presence\":\"composing\"},\n \"mediatype\":\"video\",\n \"mimetype\":\"video/mp4\",\n \"media\":\"{{ $json.block }}\",\n\"fileName\":\"{{ $json.text }}\"\n}","options":{}},"id":"707c326d-3039-4aec-be10-5a1955b749a4","name":"(media)Evolution API - HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1960,-660],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.evolutiom_api_url }}/message/sendMedia/{{ $('SetFieldsBasic').item.json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').item.json.evolution_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"number\":\"{{ $('SetFieldsBasic').item.json.phone }}\",\n\"options\":{\"delay\":123,\"presence\":\"composing\"},\n \"mediatype\":\"image\",\n \"mimetype\":\"image/png\",\n \"media\":\"{{ $json.block }}\",\n\"fileName\":\"{{ $json.text }}\"\n}","options":{}},"id":"4c18ef92-07cf-49a7-b57b-24afbb3a219f","name":"(media)Evolution API - HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1960,-420],"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"0a50fc6e-4c02-434e-b364-618bedf5ac59","name":"text","value":"={{ $json.block }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,-1780],"id":"ea61c5a0-b8af-4fd2-b396-bcc04ad2addf","name":"SetText"},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"b12406a9-2b0d-4ce4-a966-2d3f3db470a9","name":"Audio-Base64-Extract from File1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1660,-1300]},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.evolutiom_api_url }}/message/sendWhatsAppAudio/{{ $('SetFieldsBasic').item.json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').item.json.evolution_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('SetFieldsBasic').item.json.remoteJid }}"},{"name":"audio","value":"={{ $json.data }}"},{"name":"key.fromMe","value":"false"},{"name":"options.encoding","value":"true"}]},"options":{}},"id":"cbf5021e-f4c9-4a5d-ae7e-4ec5d9e4dae0","name":"(audio)Evolution API - HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1960,-1140]},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.evolutiom_api_url }}/message/sendText/{{ $('SetFieldsBasic').item.json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').item.json.evolution_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{$('SetFieldsBasic').item.json.phone}}"},{"name":"text","value":"={{ $json.text }}"}]},"options":{}},"id":"91cece95-4cf3-4acc-a8d3-09ca9df63652","name":"Evolution API - HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,-1680]},{"parameters":{},"id":"632bc3bd-473d-4f8d-b82d-f5883ef4eda4","name":"Merge5","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1440,-1300]},{"parameters":{"method":"POST","url":"=https://api.elevenlabs.io/v1/text-to-speech/{{ $('SetFieldsBasic').item.json.ElevenLabsVozID }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"xi-api-key","value":"={{ $('SetFieldsBasic').item.json['ElevenLabsAPI-KEY'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"text\":\"'{{$('IF-ElevenLabs1').item.json.text?.replaceAll('\"',\"\").replaceAll('\\n','').replaceAll('*','').replaceAll('-','').replaceAll(':00',' horas ') }}'\",\n   \"model_id\":\"eleven_multilingual_v2\",\n   \"voice_settings\":{\n      \"stability\":0.5,\n      \"similarity_boost\":0.8,\n      \"style\":0.0,\n      \"use_speaker_boost\":true\n   }\n} ","options":{}},"id":"088a0469-5bae-4252-bde0-24589a759163","name":"ElevenLabsGenerateVoice1","type":"n8n-nodes-base.httpRequest","position":[1060,-1040],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"906ff569-de44-4bd7-bb17-5691a0dab3e1","leftValue":"={{ $('SetFieldsBasic').item.json.EnableElevenLabsAPI }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"538c2fc1-69f6-428a-a556-f0d1761de836","name":"IF-ElevenLabs1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[820,-1120]},{"parameters":{"resource":"audio","input":"={{ $json.text.replaceAll('\\n','').replaceAll('-','') }}","options":{"response_format":"mp3"}},"id":"039c0bef-3d50-4965-8703-e434eace3af9","name":"OpenAI2","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[1040,-1320],"credentials":{"openAiApi":{"id":"rgi7eG3M7LIpI78J","name":"OpenAi account"}}},{"parameters":{"numberInputs":4},"id":"5fecbbff-35ad-48e6-9043-1cd471bc58b8","name":"Merge6","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1500,-1860]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"4dfe8b37-6e0e-4c64-84cd-8b2db244b457","leftValue":"={{ $json.type }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c42b80d7-89c4-4aa0-9e6c-f4f8804e9e81","leftValue":"={{ $json.type }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"31f34613-d85a-4468-83ae-5b6ee8c90eb3","leftValue":"={{ $json.type }}","rightValue":"pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d720ae89-30e4-46d2-992f-3e229d425c6b","leftValue":"={{ $json.type }}","rightValue":"video","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"29976cd9-a9f2-43c7-a188-558900b9c0f8","leftValue":"={{ $json.type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"id":"0ca6c482-755f-49d2-b55a-db4d51f17501","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3,"position":[500,-1920]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6949633a-3ba1-41e6-9213-4c81ed55431c","leftValue":"={{ $('SetFieldsBasic').item.json.AllWaysReplyText }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"34b0dd7a-9b17-4bd7-a726-5c9c4b9ce7c9","name":"If4","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[800,-1360]},{"parameters":{"content":"# Evolution API\n","height":1980,"width":2440,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-200,-2040],"id":"f4711c4c-a5b7-4bc8-b4b7-40899f7ecf5b","name":"Sticky Note6"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[540,-1180],"id":"077aeb0d-c176-4320-98a7-5762f12d4590","name":"Wait1","webhookId":"f766021a-6b35-464b-b89d-ea62f29a7203"},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[320,-1320],"id":"153411ac-427d-4473-a93c-99b6fb42c35e","name":"Merge7"},{"id":"leticia-filter-0081b56c","name":"FiltroLeticiaTest","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3060,-1680],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-0081b56c","leftValue":"={{ $('SetFieldsBasic').item.json.phone }}","rightValue":"558299800467","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}}},{"id":"reset-apaga-conversa-0001","name":"Reset-ApagaConversa","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2800,-220],"parameters":{"operation":"delete","key":"={{ $('SetFieldsBasic').item.json.evolution_chatID }}"},"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"id":"reset-limpa-traplist-0002","name":"Reset-LimpaTrapList","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2560,-220],"parameters":{"operation":"delete","key":"=traplist-{{ $('Webhook').item.json.body.data.key.remoteJid }}"},"credentials":{"redis":{"id":"KFvBxhArvahB20bk","name":"Redis account"}}},{"id":"reset-confirma-0003","name":"Reset-Confirma","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2320,-220],"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.evolutiom_api_url }}/message/sendText/{{ $('SetFieldsBasic').item.json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').item.json.evolution_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{$('SetFieldsBasic').item.json.phone}}"},{"name":"text","value":"=🔄 Pronto! Conversa zerada. Pode começar como novo paciente."},{"name":"key,fromMe","value":"false"}]},"options":{}}}],"connections":{"GravaConversationID":{"main":[[{"node":"Code","type":"main","index":0},{"node":"FindPhone","type":"main","index":0}]]},"BuscaConversationID":{"main":[[{"node":"SetFieldsBasic","type":"main","index":0}]]},"GetAudio-HTTP Request":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"AgruparMSGs":{"main":[[{"node":"RedisClearMSGs","type":"main","index":0}]]},"Wait":{"main":[[{"node":"ListaMsg-Redis","type":"main","index":0}]]},"RedisPushMsgs":{"main":[[{"node":"Wait","type":"main","index":0}]]},"RedisClearMSGs":{"main":[[{"node":"get_chat_history","type":"main","index":0}]]},"ListaMsg-Redis":{"main":[[{"node":"Should Continue?","type":"main","index":0}]]},"If":{"main":[[{"node":"BuscaConversationID","type":"main","index":0}]]},"Dify / Agente":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"AjustaRetorno","type":"main","index":0}]]},"SetFieldsBasic":{"main":[[{"node":"FiltroLeticiaTest","type":"main","index":0}]]},"AjustaRetorno":{"main":[[{"node":"GravaConversationID","type":"main","index":0}]]},"SetTextExtendedTextMessage":{"main":[[{"node":"Merge","type":"main","index":3}]]},"SetEphemeralMessage":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Should Continue?":{"main":[[{"node":"AgruparMSGs","type":"main","index":0}],[{"node":"FimFluxo","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Merge","type":"main","index":0}]]},"AddTrapList":{"main":[[]]},"RemoveFromTrapList":{"main":[[{"node":"Evolution API - HTTP Request2","type":"main","index":0}]]},"BuscaTrapList1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Merge":{"main":[[{"node":"RedisPushMsgs","type":"main","index":0}]]},"Switch":{"main":[[{"node":"GetAudio-HTTP Request","type":"main","index":0}],[{"node":"SetConversation","type":"main","index":0}],[{"node":"SetEphemeralMessage","type":"main","index":0}],[{"node":"SetTextExtendedTextMessage","type":"main","index":0}],[{"node":"SetTextExtendedTextMessage1","type":"main","index":0}]]},"SetConversation":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"FromMe-Switch":{"main":[[{"node":"BuscaTrapList1","type":"main","index":0}],[{"node":"RemoveCliente","type":"main","index":0}]]},"RemoveCliente":{"main":[[{"node":"AddTrapList","type":"main","index":0}],[{"node":"RemoveFromTrapList","type":"main","index":0}],[{"node":"Reset-ApagaConversa","type":"main","index":0}]]},"If2":{"main":[[{"node":"Dify / Agente","type":"main","index":0}],[{"node":"Dify / Agente2","type":"main","index":0}]]},"Dify / Agente2":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"FindPhone":{"main":[[{"node":"If3","type":"main","index":0}]]},"AddChat-Supabase":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"UpdateChat-Supabase":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"If3":{"main":[[{"node":"AddChat-Supabase","type":"main","index":0}],[{"node":"UpdateChat-Supabase","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"CreateMessage-Supabase","type":"main","index":0}]]},"get_chat_history":{"main":[[{"node":"If2","type":"main","index":0}]]},"SetTextExtendedTextMessage1":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Loop Over Items":{"main":[[],[{"node":"Switch2","type":"main","index":0}]]},"If5":{"main":[[{"node":"Evolution API - HTTP Request3","type":"main","index":0}],[{"node":"Merge7","type":"main","index":1}]]},"(media)Evolution API - HTTP Request":{"main":[[{"node":"Merge7","type":"main","index":3}]]},"(media)Evolution API - HTTP Request1":{"main":[[{"node":"Merge7","type":"main","index":2}]]},"(media)Evolution API - HTTP Request2":{"main":[[{"node":"Merge7","type":"main","index":4}]]},"SetText":{"main":[[{"node":"Merge6","type":"main","index":3}]]},"Audio-Base64-Extract from File1":{"main":[[{"node":"(audio)Evolution API - HTTP Request","type":"main","index":0}]]},"(audio)Evolution API - HTTP Request":{"main":[[{"node":"Merge7","type":"main","index":2}]]},"Evolution API - HTTP Request3":{"main":[[{"node":"Merge7","type":"main","index":0}]]},"Merge5":{"main":[[{"node":"Audio-Base64-Extract from File1","type":"main","index":0}]]},"ElevenLabsGenerateVoice1":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"IF-ElevenLabs1":{"main":[[{"node":"ElevenLabsGenerateVoice1","type":"main","index":0}],[{"node":"OpenAI2","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"If5","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Merge6","type":"main","index":0}],[{"node":"Merge6","type":"main","index":1}],[{"node":"If4","type":"main","index":0}],[{"node":"(media)Evolution API - HTTP Request","type":"main","index":0}],[{"node":"(media)Evolution API - HTTP Request1","type":"main","index":0}],[{"node":"(media)Evolution API - HTTP Request2","type":"main","index":0}],[{"node":"SetText","type":"main","index":0}]]},"If4":{"main":[[{"node":"Merge6","type":"main","index":2}],[{"node":"IF-ElevenLabs1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Merge7":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"FiltroLeticiaTest":{"main":[[{"node":"FromMe-Switch","type":"main","index":0}],[{"node":"FimFluxo","type":"main","index":0}]]},"Reset-ApagaConversa":{"main":[[{"node":"Reset-LimpaTrapList","type":"main","index":0}]]},"Reset-LimpaTrapList":{"main":[[{"node":"Reset-Confirma","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Thiago Araujo","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-10T21:49:18.981Z","id":231,"workflowId":"2RolRcmgDU3155pG","versionId":"d4b9b0c1-731e-4d3e-bfa4-45c273d144af","event":"activated","userId":"b170e41d-fd68-4750-b40d-0c600ec50d3d"},{"createdAt":"2026-06-10T21:49:18.795Z","id":230,"workflowId":"2RolRcmgDU3155pG","versionId":"d4b9b0c1-731e-4d3e-bfa4-45c273d144af","event":"deactivated","userId":"b170e41d-fd68-4750-b40d-0c600ec50d3d"}]}}