n8n-workflows/confirmacao-consulta.json
{
  "name": "Apex Odonto - Confirmação de Consulta",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "confirmar-consulta",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-consulta",
      "name": "Webhook Consulta Criada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Formatar data da consulta\nconst scheduled = new Date($input.first().json.appointment.scheduled_at);\nconst options = { weekday: 'long', day: 'numeric', month: 'long', hour: '2-digit', minute: '2-digit', timeZone: 'America/Sao_Paulo' };\nconst dataFormatada = scheduled.toLocaleDateString('pt-BR', options);\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    data_formatada: dataFormatada\n  }\n}];"
      },
      "id": "formatar-data",
      "name": "Formatar Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.evolution.url }}/message/sendText/{{ $json.evolution.instance }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.evolution.key }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.patient.phone }}"
            },
            {
              "name": "text",
              "value": "Olá {{ $json.patient.name }}! 📋\n\nSua consulta foi agendada com sucesso! 🦷\n\n📅 {{ $json.data_formatada }}\n⏱️ Duração: {{ $json.appointment.duration_minutes }} minutos\n📌 {{ $json.appointment.title }}\n\nPor favor, confirme sua presença respondendo *SIM*.\n\nCaso precise remarcar, entre em contato conosco! 😊"
            }
          ]
        },
        "options": {}
      },
      "id": "enviar-confirmacao",
      "name": "Enviar Confirmação WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Confirmação enviada' }) }}"
      },
      "id": "responder",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook Consulta Criada": {
      "main": [[{ "node": "Formatar Data", "type": "main", "index": 0 }]]
    },
    "Formatar Data": {
      "main": [[{ "node": "Enviar Confirmação WhatsApp", "type": "main", "index": 0 }]]
    },
    "Enviar Confirmação WhatsApp": {
      "main": [[{ "node": "Responder", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "Apex Odonto CRM" }]
}
