n8n-workflows/enviar-mensagem-whatsapp.json
{
  "name": "Apex Odonto - Enviar Mensagem Chat WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "enviar-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-enviar-whatsapp",
      "name": "Webhook Enviar WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.evolution.url }}/message/sendText/{{ $json.evolution.instance }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.evolution.key }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request-evolution-send",
      "name": "Evolution API Send Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Mensagem enviada com sucesso pela Evolution API' }) }}"
      },
      "id": "responder-webhook-sucesso",
      "name": "Responder Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook Enviar WhatsApp": {
      "main": [
        [{ "node": "Evolution API Send Text", "type": "main", "index": 0 }]
      ]
    },
    "Evolution API Send Text": {
      "main": [
        [{ "node": "Responder Sucesso", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "Apex Odonto CRM" }]
}
